/*--section one---*/
.img-back{
    width: 100%;
    height: 790px;
    opacity: 0.5;
    position: absolute;
    overflow: hidden;
}
.img-back img{
    width: 120%;
    height: 790px;
    object-fit: cover;
    object-position: 0 20%;
}
/*--sec two end---*/
/*--sec three--*/
.picture{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
    justify-content: space-between;
}
.picture img{
    margin-bottom: 50px;
}
.picture img{
    width: 100%;
    height: 700px;
    object-fit: cover;
}
/*--sec three end--*/
/*---side picture slide---*/
.mySlides {
    display: flex;
    justify-content: flex-end;
}
.mySlides img {
        width:400px;
        height: 600px;
        object-fit: cover;
padding-right: 100px;
}
/* Slideshow container */
/*--next proj---*/
#arrow-next a{
    position: absolute;
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-top: 20%;
    margin-left: 15%;
}
.circle-down{
    width: 120%;
    position: absolute;
    margin-left: -200%;
    margin-top: -45%;
}
.arrow{
    width: auto;
    height: 160px;
    position: absolute;
    transform: rotate(90deg);
    margin-left: -50%;
    margin-top: -60%;
}
.wrap{
  width: 100%;height: auto;
}
.wrap img{
    width: 100%;
    height: 450px;
    margin-bottom: -15px;
    object-fit: cover;
    object-position: 0 60%;
}
@media only screen and (max-width:1064px){
    .picture{
        margin: 0px;
    }
    /*--section slide 1063px---*/
    .mySlides img{
        width:80%;
        height: 780px;
        margin-left: 20%;
    }
    .prev{
        margin-top: 350px;
    }
    .next{
        margin-top: 450px;
    }
}
    /*---section slide 1063px end----*/
@media only screen and (max-width: 768px){
    /*--back img 768px---*/
    .img-back{
        height: 790px;
    }
    .img-back img{
        width: 100%;
        height: 800px;
        object-position:100%;
    }
    /*---back img 768px end---*/
    /*-- sec three pic 768px---*/
    .picture{
        margin: 0px;
    }
    /*---sec three pic 768px---*/
    /*---slide pic 768px--*/
    .slideshow-container{
        justify-content: center;
    }
    .mySlides img{
    width: 100%;
        height: 580px;
        margin-top: 8%;
        margin-left: 0%;
    }
    .prev{
        margin-top: 0px;
        left: 15%;
    }
    .next{
        margin-top: 0px;
        margin-left: 64%;
        left: 0%
    }
    .prev, .next{
        width: 20%;
    }
    /*---next pro 768px---*/
    .wrap{
        padding-top: 10%;
    }
    .wrap img{
        height: 200px;
    }
    #arrow-next a{
        font-size: 15px;
        margin-left: 20%;
        margin-top: 20%;
    }
    .arrow{
        margin-top: -53%;
    }
    .circle-down{
        width: 100px;
        margin-top: -36%;
        margin-left: -180%;
    }
    /*---next pro 768px end---*/
    }
@media only screen and (max-width:500px){
     /*---next pro 545px---*/
    #arrow-next a{
        font-size: 10px;
        margin-top: 30%;
    }
    .arrow{
        margin-left: -50%;
        margin-top: -45%;
    }
    .circle-down{
        display: none;
    }
    /*---next pro 545px end---*/
@media only screen and (max-width:425px){
     .picture{
        margin: ;
    }
    .picture img{
        margin: 50px 0;
        height: auto;
    }
    .picture img:nth-of-type(2), .picture img:nth-of-type(3),.picture img:nth-of-type(5), .picture img:nth-of-type(6),.picture img:nth-of-type(8), .picture img:nth-of-type(9){
        width: 100%;
        margin: 0;
    }
    .picture img:nth-of-type(3),.picture img:nth-of-type(6), .picture img:nth-of-type(9){
        margin-top: 50px;
    }
    .slideshow-container{
        margin-top:-10%;
    }
    .mySlides{
        margin-top: 0px;
    }
    .mySlides img{
        padding: 0px;
        height: 450px;
        width: auto;
    }
    /*--prev proj 425px--*/
    /*--next proj 425px---*/
    #arrow-next a{
        margin-left: 60%;
        margin-top: 25%;
    }
    .arrow{
        margin-top: -30%;
        margin-left: -20%;
        width: 15px;
    }
    .wrap{
        padding-top: 0; 
    }
     /*--next proj 425px end---*/
    /*---slide 425px end---*/
    .img-back{
        height: 100%;
    }
}